<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sust.doctor.mapper.DepartmentMapper">

    <select id="selectNameById" resultType="java.lang.String">
        SELECT dep_name FROM x_department WHERE id = #{departMentId}
    </select>
    <select id="selectDepartmentListByHospId" resultType="edu.sust.doctor.entity.Department">
        SELECT d.id , d.dep_name FROM x_department d ,x_hosp_dep hd
        WHERE d.id = hd.dep_id AND hd.hosp_id = #{hospId}
    </select>
</mapper>
